/* Header */
.header {
    width: 75%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url("https://image.typedream.net/cdn-cgi/image/width=3840,quality=100/https://api.typedream.com/v0/document/public/8bd6caf2-6ea7-4a61-8ed7-ebeead4e5580/2NfjYzn4a3OFA12xkx38eHPqPYt_Profile.jpeg");
    background-size: 100%;
}

.title_container {
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #929cad;
}

.social {
    display: flex;
    gap: 12px;
}

/* Header */

.card {
    background-color: cadetblue;
}

.footer {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 4px 12px;
    font-weight: 300;
    box-shadow: var(--shadow-button);
    border: 1px solid var(--border-modal);
    border-radius: 8px;
    font-size: 13px;
    color: var(--text);
    transition: 0.2s ease-in;
}

.footer:hover {
    box-shadow: var(--shadow-button-hover);
}
